<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_student_management_root"
              name="Quản lý sinh viên"
              sequence="10"
              web_icon="student_management,static/description/icon.png"/>

    <menuitem id="menu_student_faculty"
              name="Khoa"
              parent="menu_student_management_root"
              action="action_student_faculty"
              sequence="10"/>

    <menuitem id="menu_student_classroom"
              name="Lớp học"
              parent="menu_student_management_root"
              action="action_student_classroom"
              sequence="20"/>

    <menuitem id="menu_student_student"
              name="Sinh viên"
              parent="menu_student_management_root"
              action="action_student_student"
              sequence="30"/>
</odoo>

